NETMP.Module9.ToolsForDeveloper/NETMP.Module9.Nuget/bin/
NETMP.Module9.ToolsForDeveloper/NETMP.Module9.Nuget/obj/
NETMP.Module9.ToolsForDeveloper/NETMP.Module9.StyleCop/bin/Debug/mssp7en.lex
NETMP.Module9.ToolsForDeveloper/NETMP.Module9.StyleCop/bin/
NETMP.Module9.ToolsForDeveloper/NETMP.Module9.StyleCop/obj/
NETMP.Module9.ToolsForDeveloper/packages/MSTest.TestAdapter.1.2.0/MSTest.TestAdapter.1.2.0.nupkg
NETMP.Module9.ToolsForDeveloper/packages/
